BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Always
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman
SpaceBeforeParens: ControlStatements
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyReturnTypeOnItsOwnLine: 1000
SpacesInParentheses: false
PointerAlignment: Right
IndentPPDirectives: AfterHash
SortIncludes: false
SpaceAfterCStyleCast: false
